extends layout

block content
  #container
      video#video(autoplay='true' width="520" height="440" muted)
      canvas#canvasbg(width="520" height="440")
      canvas#canvas(width="520" height="440")
