body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
}

a {
  color: #00B7FF;
}
container{
  position: relative;
}
video, canvas {
  position: absolute;

  width: 100%;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  vertical-align: bottom;
  
}

button {
  margin-top: 600px;
}

video {
  height: 50%;
  margin-top: 25%;
  object-fit: fill;
}

#canvas {
  height: 75%;
  overflow: hidden;
}

